.chat {
  @include flex(row, flex-start, center);

  height: 70px;
  position: relative;
  border-top: 1px solid $border-color;
  padding: 12px 10px;
  cursor: pointer;

  &:hover {
    background-color: $chat-selected;
  }

  &:last-child {
    border-bottom: 1px solid $border-color;
  }

  &__avatar {
    flex: 0 0 45px;
    height: 45px;
    border-radius: 50%;
    background-color: $dark-grey;
    margin-right: 10px;
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__content {
    @include flex(column, space-between, flex-start);

    height: 100%;
    width: 150px;
    padding: 5px 0;
  }

  &__title {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  &__message {
    font-size: 12px;
    color: $text-secondary;
  }

  &__time {
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 500;
    font-size: 9px;
    color: $text-secondary;
  }

  &__unread {
    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    vertical-align: center;
    background-color: $main-color;
    color: #fff;
  }
}
