.chats__container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.chats__sidebar {
  flex: 0 0 310px;
  border-right: 1px solid $border-color;
  background-color: $light-grey;
}

.chats__content {
  @include flex(column, flex-end, flex-end);

  flex: 1;
  overflow: hidden;
}

.chats {
  @include flex(column, space-between, initial);

  &__links {
    @include flex(row, space-between, initial);
    margin: 20px 0 10px;
    padding: 0 20px;
  }

  &__add-chat {
    &-link {
      display: flex;
      font-size: 12px;
      color: $main-color;

      &:hover {
        color: $main-hover;
      }
    }
  }

  &__profile {
    &-link {
      display: flex;
      font-size: 12px;
      margin-right: 5px;
      color: $text-secondary;

      & .icon-arrow-left {
        transform: rotate(-180deg);
        margin-left: 5px;
      }

      &:hover {
        color: $main-color;
      }
    }
  }

  &__add-field {
    display: none;
    margin-bottom: 10px;
    padding: 0 20px;
    &.show {
      @include flex(row, space-between, flex-end);
    }

    .chats__add-chat-input {
      height: 35px;
      font-size: 14px;
      background-color: transparent;
      border-bottom: 1px solid $main-color;
      &::placeholder {
        font-size: 12px;
        color: $text-secondary;
      }
    }

    .chats__add-chat-button {
      width: 70px;
      height: 25px;
      border-radius: 30px;
      background-color: $main-color;
      font-size: 12px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background-color: $main-hover;
      }
    }
  }

  &__search {
    background-color: $dark-grey;
    height: 35px;
    border-radius: 5px;
    margin: 10px 10px;
    padding-left: 10px;
  }
}
