.profile__container {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;

  &-back {
    @include flex(column, center, center);
    background-color: $light-grey;
    width: 65px;
    height: 100%;
    border-right: 1px solid $border-color;

    a {
      position: relative;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: $main-color;

      &:hover {
        background-color: $main-hover;
      }

      .icon-arrow-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    }
  }
}

.profile {
  display: flex;
  flex-direction: column;
  width: 510px;
  margin: auto;

  &__name {
    text-align: center;
  }

  &__info {
    @include flex(column, center, center);
    margin: 30px 0;

    &.change {

      & .input__wrapper:not(:last-child) {
        border-bottom: 1px solid $main-color;
      }

      & .input__wrapper .input__field {
        pointer-events: auto;
        color: $main-color;
      }

      & .profile__info-save {
        display: block;
      }
    }

    & .input__wrapper {
      position: relative;
      display: flex;
      justify-content: space-between;
      margin: 0;
      padding: 5px 0;

      & .input__label {
        font-size: 13px;
        color: #000;
        padding: 10px 0;
      }

      & .input__field {
        flex: 0 0 50%;
        color: $text-secondary;
        font-size: 13px;
        text-align: end;
        border-bottom: none;
        pointer-events: none;
      }

      & .input__error-message {
        position: absolute;
        right: 0;
        bottom: 2.5px;
      }

      &:not(:last-child) {
        border-bottom: 1px solid $border-color;
      }
    }

    &-save {
      display: none;
      margin: 10px auto;
      border: none;
      width: 150px;
      height: 37px;
      text-align: center;
      line-height: 37px;
      border-radius: 8px;
      background-color: $main-color;
      color: #fff;
      cursor: pointer;

      &:hover {
        background-color: $main-hover;
      }
    }
  }

  &__buttons {
    & .secondary__btn {
      display: flex;
      font-size: 13px;
      width: 100%;
      padding: 10px 0;
    }

    & .secondary__btn:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    & .secondary__btn:last-child {
      color: $warning-color;

      &:hover {
        color: $warning-hover;
      }
    }
  }
}
