@import "src/scss/colors";
@import "src/scss/mixins";

.profile__container {
  position: relative;
  width: 100%;
  height: 100%;

  &-back {
    background-color: $light-grey;
    width: 65px;
    height: 100%;
    border-right: 1px solid $border-color;
    @include flex(column, center, center);

    #backToChats {
      position: relative;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background-color: $main-color;

      &:hover {
        background-color: $main-hover;
      }

      .icon-arrow-left {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
      }
    }
  }
}

.profile {
  width: 510px;
  position: absolute;
  top: 50%;
  left: calc(50% + 65px / 2);
  transform: translate(-50%, -50%);

  &__avatar {
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $dark-grey;
    margin: 20px auto;
    cursor: pointer;
    @include flex(row, center, center);

    &:hover .profile__avatar-label {
      display: flex;
      background-color: #000;
      opacity: .5;
    }

    &-label {
      position: absolute;
      display: none;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      color: #fff;
      font-size: 13px;
      line-height: 14px;
    }
  }

  &__name {
    text-align: center;
  }

  &__info {
    margin: 30px 0;

    & .input__wrapper {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }

    & .input__wrapper .input__label {
      font-size: 13px;
      color: #000;
      padding: 10px 0;
    }

    & .input__wrapper .input__field {
      flex: 0 0 50%;
      color: $text-secondary;
      font-size: 13px;
      text-align: end;
      pointer-events: none;
    }

    & .input__wrapper:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    & .input__wrapper .input__field {
      border-bottom: none;
    }
  }

  &__buttons {
    & .secondary__btn-link {
      font-size: 13px;
      display: flex;
      width: 100%;
      padding: 10px 0;
    }

    & .secondary__btn-link:not(:last-child) {
      border-bottom: 1px solid $border-color;
    }

    & .secondary__btn-link:last-child button {
      color: $warning-color;

      &:hover {
        color: $warning-hover;
      }
    }
  }
}
