.main__btn {
  border: none;
  width: 280px;
  height: 37px;
  text-align: center;
  line-height: 37px;
  border-radius: 8px;
  background-color: $main-color;
  color: #fff;
  cursor: pointer;

  &:hover {
    background-color: $main-hover;
  }
}
