.profile__info-password {
  @include flex(column, center, center);
  margin: 30px 0;

  & .input__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 5px 0;

    & .input__label {
      font-size: 13px;
      color: #000;
      padding: 10px 0;
    }

    & .input__field {
      flex: 0 0 50%;
      color: $main-color;
      font-size: 13px;
      text-align: end;
      border-bottom: none;
      pointer-events: auto;
    }

    & .input__error-message {
      position: absolute;
      right: 0;
      bottom: 2.5px;
    }

    &:not(:last-child) {
      border-bottom: 1px solid $main-color;
    }
  }

  .profile__info-save-password {
    display: block;
    margin: 30px 0;
    border: none;
    width: 150px;
    height: 37px;
    text-align: center;
    line-height: 37px;
    border-radius: 8px;
    background-color: $main-color;
    color: #fff;
    cursor: pointer;

    &:hover {
      background-color: $main-hover;
    }
  }
}
