.profile {
  &__avatar {
    @include flex(row, center, center);
    flex: 0 0 130px;
    position: relative;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background-color: $dark-grey;
    margin: 20px auto;
    cursor: pointer;
    overflow: hidden;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    & input {
      height: 130px;
      width: 130px;
      position: absolute;
      opacity: 0;
      z-index: 1000;
      cursor: pointer;
    }
  }
}
