$main-color: #3369F3;
$main-hover: #3369c3;

$warning-color: #FF0000;
$warning-hover: #702017;

$text-secondary: #999999;

$light-grey: #FBFBFB;
$dark-grey: #EFEFEF;

$border-color: #EAEAEA;

$chat-selected: #E4EDFD;

$box-shadow: 0 0 6px rgba(0, 0, 0, 0.14);
