@import "colors";
@import "mixins";

.form__container {
  width: 340px;
  background-color: #fff;
  box-shadow: $box-shadow;
  border-radius: 12px;
  @include flex(column, space-between, center);
}

.form__field {
  width: 280px;
  flex: 1;
  @include flex(column, space-evenly, center);
}

.form__title {
  margin: 50px 0 40px 0;
}

.form__buttons {
  @include flex(column, space-evenly, center);
  margin: 30px 0;

  input:first-child {
    margin-bottom: 15px;
  }
}
