@import "colors";
@import "mixins";
@import "fonts";
@import "null";

$fontFamily: "Inter", sans-serif;

body {
  font-family: $fontFamily;
}

h1 {
  font-weight: 500;
}

.container {
  width: 100%;
  height: 100%;
}

@import "form";

// components
@import "src/components/avatar/avatar";
@import "src/components/chat/chat";
@import "src/components/input/input";
@import "src/components/main-button/main-button";
@import "src/components/secondary-button/secondary-button";

// pages
@import "src/pages/Chat/Chat";
@import "src/pages/Chat/ChatHeader/ChatHeader";
@import "src/pages/Chat/ChatMessagesField/ChatMessagesField";
@import "src/pages/Chat/ChatMessageInput/ChatMessageInput";
@import "src/pages/Chat/ChatList/ChatList";

@import "src/pages/Error/Error";

@import "src/pages/Login/Login";

@import "src/pages/Profile/Profile";
@import "src/pages/Profile/ProfilePassword/ProfilePassword";

@import "src/pages/Registration/Registration";
